  <body>
    <div class="main-container-wrapper additional-pages checkout-page">

        <!-- change-page-->

        <!-- end change-page-->
        <div class="checkout-header grayBg">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 product-checkout">
                <div class="row">
                  <div class="col-sm-8">
                    <div class="row">
                      <div class="col-sm-5">
                        <div class="image">
                           <%= image_tag ('nex.png') %>
                        </div>
                      </div>
                      <div class="col-sm-7 border-right">
                        <h3>NeX v1.0</h3>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="col-md-9 col-sm-12">
                      <div class="row">
                        <div class="col-sm-6 col-xs-6">
                          <div class="subtotal-tax clearfix"><span class="subtotal">Subtotal:</span><span class="tax">Delivery</span></div>
                        </div>
                        <div class="col-sm-6 col-xs-6">
                          <div class="prices clearfix"><span class="subtotal"><b>₹6,999</b></span><span class="tax"><b>₹0</b></span></div>
                        </div>
                      </div>
                      <div class="total-price you-color text-color">₹6,999</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <!-- screen-blackout-->
            <div class="screen-blackout" hidden=""></div>
            <!-- end screen-blackout-->
          </div>
        </div>
        <div class="checkout-info white">
          <h2 class="section-name-thin">Checkout</h2>
          <div class="checkout-tabs">
            <div class="container" id="customers">
              <div class="row">
                <div class="col-sm-10 col-sm-offset-1">

                  <div class="tab-content">
                    <div class="tab-pane active" id="new-customer">
                      <div class="panel mb-0">
                        <div class="panel-body form-horizontal new-customer-info">
                          <div class="form-group">
                            <div class="col-sm-offset-1 panel-heading">Information</div>
                          </div>
                     <form action="home/saveuser" method="post">
                          <div class="form-group">
                            <label class="col-sm-1 control-label" for="firstName">Name</label>
                            <div class="col-sm-11">
                              <input class="form-control"  type="text" name="name" placeholder="Type name here" required>
                            </div>
                          </div>
                <!--           <div class="form-group">
                            <label class="col-sm-1 control-label" for="lastName">Last name</label>
                            <div class="col-sm-11">
                              <input class="form-control" id="lastName" type="text" name="lastName" placeholder="Type last name here">
                            </div>
                          </div> -->
                          <div class="form-group">
                            <label class="col-sm-1 control-label" for="email">Email</label>
                            <div class="col-sm-11">
                              <input class="form-control" id="email" type="email" name="email" placeholder="Type email here" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-1 control-label">Phone</label>
                            <div class="col-sm-11">
                              <input class="form-control phone" id="phone" type="text" name="phone" placeholder="Enter your phone number here"  required>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel mb-0">
                        <div class="panel-body form-horizontal new-customer-billing pt-5">
                          <div class="form-group">
                            <div class="col-sm-offset-1 panel-heading">Billing Information</div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-1 control-label" for="street">Street</label>
                            <div class="col-sm-11">
                              <input class="form-control" id="street" type="text" name="street" placeholder="Type street here" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-1 control-label" for="city">City</label>
                            <div class="col-sm-11">
                              <input class="form-control" id="city" type="text" name="city" placeholder="Type city here" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-1 control-label" for="state">State</label>
                            <div class="col-sm-11">
                              <input class="form-control" id="state" type="text" name="state" placeholder="Type state here" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-1 control-label" for="zip">ZIP</label>
                            <div class="col-sm-11">
                              <input class="form-control" id="zip" type="text" name="zip" placeholder="Type zip here" required>
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-sm-1 control-label" for="country">Country</label>
                            <div class="col-sm-11">
                              <input class="form-control" id="country" type="text" name="country" placeholder="Type country here" required>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="panel mb-0">
                        <div class="panel-body form-horizontal new-customer-billing pt-5">
                          <div class="form-group">
                            <div class="col-sm-offset-1 panel-heading">Condtitions</div>
                          </div>

                          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


                          <div class="form-group">
                            <div class="col-sm-offset-1 col-sm-11">
                              <input id="shippingAddress" type="checkbox" name="shippingAddress">
                              <label for="shippingAddress"><span>I agree to all terms and conditions</span></label>
                              <hr>
                              <center>
                                <input type="submit" class="btn btn-primary m-t-10" id="submitbtn" name="submit" value="Checkout">
                              </center>

                            </div>
                          </div>
                        </div>
                      </div>

                    </form>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- screen-blackout-->
          <!-- end screen-blackout-->
        </div>
        
        <!--/footer-->
        <!-- jQuery scripts-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
        <!-- bootstrap scripts-->
        <script src="js/bootstrap.min.js"></script>
      </div>
      <!-- / #container-->
      <!-- #loader-->
      <div class="loader">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24px" height="30px" viewbox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <rect x="0" y="0" width="4" height="10" fill="#333">
            <animatetransform attributetype="xml" attributename="transform" type="translate" values="0 0; 0 20; 0 0" begin="0" dur="0.6s" repeatcount="indefinite"></animatetransform>
          </rect>
          <rect x="10" y="0" width="4" height="10" fill="#333">
            <animatetransform attributetype="xml" attributename="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.2s" dur="0.6s" repeatcount="indefinite"></animatetransform>
          </rect>
          <rect x="20" y="0" width="4" height="10" fill="#333">
            <animatetransform attributetype="xml" attributename="transform" type="translate" values="0 0; 0 20; 0 0" begin="0.4s" dur="0.6s" repeatcount="indefinite"></animatetransform>
          </rect>
        </svg>
      </div>
      <!-- end loader-->
   
      <!-- end modal fade #contact-us-modal-->
    </div>
  </body>