<h1>Step 1 - Pay through this link</h1>
<a href="https://www.instamojo.com/@Nex/lafafa858e46d4f058d3a3c9010c48b01/" rel="im-checkout" data-behaviour="remote" data-style="light" data-text="Checkout With Instamojo"></a>
<script src="https://js.instamojo.com/v1/button.js"></script>


<h2>Step 2 - Wait for us to confirm your order in 2-3 business days </h2>